---
layout: default
title: Home
---
<div class="featured-image">
  <img src="{{ site.github.url }}/assets/img/khel yatra.jpg">
</div>
<h1 style="text-align:center">Upcoming Event</h1>

{% for post in site.categories.upcoming %}
  <a href="{{ site.github.url }}{{ post.url }}">
    <div class="featured-posts" {% if post.image %}style="background-image:url({{ site.github.url }}/assets/img/{{ post.image }});border-radius: 2rem"{% endif %}>
      <h2><span style="border-radius: 1rem;">{{ post.title }}</span></h2>
    </div>
  </a>
{% endfor %}

<h1 style="text-align:center">Previous Events</h1>

<div class="scrolling-wrapper">
 {% for post in site.categories.previous %}
  <div class="card card123">
     <a href="{{ site.github.url }}{{ post.url }}"><img src="{{ site.github.url }}/assets/img/{{ post.image }}" alt="{{ post.title }}" style="max-width:400px;height:200px"></a>
     <div class="containercard">
       <h4><b><a class="hover_underline" href="{{ site.github.url }}{{ post.url }}">{{ post.title }}</a></b></h4>
       <h4>{{ page.date | date: "%m/%d/%Y" }}</h4>
       <p><a class="hover_underline" href="{{ site.github.url }}{{ post.url }}">{{ post.description }}</a></p>
     </div>
  </div>
 {% endfor %}
</div>
