---
layout: default
---

<div class="page-content" style="text-align:center">
  <h1>
    {{ page.title }}
  </h1>

  <span class="post-date" style="text-align:center">
    {{ site.data.settings.post_date_prefix }}
    {% assign d = page.date | date: "%-d"  %}
    {{ page.date | date: "%B" }}
    {% case d %}
      {% when '1' or '21' or '31' %}{{ d }}st
      {% when '2' or '22' %}{{ d }}nd
      {% when '3' or '23' %}{{ d }}rd
      {% else %}{{ d }}th{% endcase %},
    {{ page.date | date: "%Y" }}
  </span>

  <article>
    {{ content }}
    <p class="photos-button-margin" style="text-align:center">Click left and right arrows to go back and forth between pictures!<p>
    <div class="post-share photos-button-margin" style="text-align:center">
      <div class="sharing-icons">
        <a href="{{ page.googlephotoslink }}" target="_blank">
        <button type="button" class="demo-button black-border-button"><i class="fa fa-picture-o" style="margin-right: 5px;"></i>Click to see the Google Photos album</button>
        </a>
      </div>
    </div>
    {{ page.summary }}
  </article>

  <h2 style="text-align:center">
    Winners
  </h2>

  <article style="text-align:center">
    {{ page.winner }}
    <!-- decide whether to give text, or scrolling cards, or column table cards with text and image-->
  </article>

  <h2 style="text-align:center">Sponsors</h2>

  <article style="text-align:center">
    Choose either text with links or images for sponsors
  </<article>

  <!-- choose either text with links or images for sponsors -->
</div>
